# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RData-vars

# User-specific files
.Ruserdata

# Build/Check artifacts
*.tar.gz
*.Rcheck/
..Rcheck/
Rplots.pdf

# RStudio files
.Rproj.user/
*.Rproj

# Manuscript
manuscript/
